<!DOCTYPE html>
<html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
      integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N"
      crossorigin="anonymous"
    />

    <like rel="stylesheet" href="/public/main.css" >
    <title>Hello, world!</title>
  </head>
  <body>
   <%- include("nav.html") %>
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="display-4">상세 페이지</h1>
        <p class="lead">
          This is a modified jumbotron that occupies the entire horizontal space
          of its parent.
        </p>
      </div>
    </div>
    <div class="container" mt-5>
      <div class="card" style="width: 100%">
        <img src="..." class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">무언가 나옵니다! -> <%= post.title %></h5>
          <p class="card-text">마감일 나옵니다! -> <%= post.day %></p>
          <a href="#" class="btn btn-primary">수정하기</a>
          <a href="#" class="btn btn-primary">삭제하기</a>
        </div>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
